@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

canvas {
  height: 200px;
  width: 100%;
}
.chart-container {
  width: 100%;
  height: 400px;
}

.table td, .table th {
    padding: 0rem auto;
}

/* .table td, .table th {
    padding: 0rem;
} */

td {
  font-size: 0.75rem;
}

.amcharts-main-div image{
  display: none !important;
}
.amcharts-main-div image+rect{
  display: none !important;
}
